/*----------------------------------------------------------------------------*/
/*----------------------------- Global Settings ------------------------------*/
/*----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #333;
  --third-color: #444;
  --fourth-color: #000;
  --fifth-color: #FFC2D4;
  --sixth-color: #95DB95;
  --seventh-color: #1FB7EA;
  --eightth-color: #169BF3;
  --ninth-color: #51B4F6;
  --tenth-color: #6666;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-color);
  margin: 0;
  color: var(--primary-color);
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------- Section ---------------------------------*/
/*----------------------------------------------------------------------------*/
section {
  padding: 2rem 0;
  text-shadow: 3px 2px 6px var(--tenth-color);
}

.fa-music {
  font-size: 2.5rem;
}

.fa-music span {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.section h3 {
  font-size: 2rem;
}

.light {
  font-size: 1.2rem;
}

.bg-pink {
  background-color: var(--fifth-color);
}

.bg-green {
  background-color: var(--sixth-color);
}

.bg-blue {
  background-color: var(--seventh-color);
}

.ipad {
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
  height: auto;
  width: 68%;
}

.tablet-mobile {
  width: 72%;
}

.card-img {
  padding-bottom: -1rem;
  width: 75%;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------- Buttons ---------------------------------*/
/*----------------------------------------------------------------------------*/
.btn {
  padding: 1rem;
  display: inline-block;
  text-shadow: none;
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--eightth-color);
}

.btn-primary:hover {
  background-color: var(--ninth-color);
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/*--------------------------------- Showcase ---------------------------------*/
/*----------------------------------------------------------------------------*/
#showcase {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url('../img/showcase.jpg') no-repeat center/cover;
  position: relative;
  overflow-y: hidden;
  color: var(--primary-color);
  text-shadow: 3px 2px 6px var(--fourth-color);
}

#showcase .container {
  margin-top: 30%;
}

#showcase h1 {
  font-size: 3.8rem;
  font-weight: 500;
  text-shadow: 2px 2px 6px var(--fourth-color);
}

#showcase h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.lead {
  font-size: 1.3rem;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------- Footer ----------------------------------*/
/*----------------------------------------------------------------------------*/
footer .footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 0.8rem;
  margin-top: -1.8rem;
}

.footer-cols ul li:first-child {
  font-size: 1rem;
  padding-bottom: 1.1rem;
  font-weight: 500;
  border-bottom: var(--third-color) solid 1px;
  margin-bottom: 1rem;
}

.footer-cols ul {
  list-style: none;
}

.footer a {
  color: var(--primary-color);
}

.bg-footer {
  background-color: var(--secondary-color);
}

.footer-bottom {
  font-size: 0.9rem;
  padding: 0.8rem;
}

/*----------------------------------------------------------------------------*/
/*---------------------------- Utility Classes -------------------------------*/
/*----------------------------------------------------------------------------*/
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 1.2rem 3rem;
}

/*----------------------------------------------------------------------------*/
/*------------------------------- Navigation ---------------------------------*/
/*----------------------------------------------------------------------------*/
nav {
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: var(--secondary-color);
  opacity: 0.;
  color: var(--primary-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  line-height: 1.2;
  padding-left: 0.625rem;
}
nav a {
  display: inline-block;
  width: 6.25rem;
  text-align: center;
  text-decoration: none;
  padding: 0.625rem 0;
  color: var(--primary-color);
  text-decoration: none;
}
nav li:hover {
  background-color: var(--third-color);
}
nav a#openup {
  display: none;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

/*----------------------------------------------------------------------------*/
/*------------------------------ Media Queries -------------------------------*/
/*----------------------------------------------------------------------------*/
@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }
  #showcase .container {
    margin-top: 27rem;
  }
  #showcase h1 {
    margin-top: 15vh;
    font-size: 2rem;
  }
  #showcase h2 {
    font-size: 1.2rem;
    margin-top: -0.5rem;
    line-height: 1.4;
  }
  section {
    padding: 1rem 0;
  }
  .section h3 {
    font-size: 1.2rem;
  }
  .light {
    font-size: 1rem;
  }
  .lead {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.9rem;
    margin: 1.7rem 0;
  }
  .fa-music {
    font-size: 1.8rem;
  }
  img {
    margin: 0.8rem 0;
  }
  .ipad {
    padding: 1rem 0;
    width: 90%;
  }
  .tablet-mobile {
    width: 100%;
  }
  .card-img {
    width: 100%;
  }
  .footer-bottom {
    font-size: 0.8rem;
  }
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 1.6rem;
    background: var(--secondary-color);
    border-bottom: 1px solid var(--third-color);
  }
  nav a:hover {
    background: var(--third-color);
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 1.875rem;
    height: 1.875rem;
    display: inline-block;
    position: absolute;
    right: 0.3125rem;
    top: 1.6rem;
  }
  nav a#openup {
    display: block;
    background-color: var(--secondary-color);
    width: 100%;
    position: relative;
  }
  footer .footer-cols {
    display: none;
  }
}


@media screen and (max-height: 780px) {
  #showcase {
    height: 100vh;
  }
  #showcase h1 {
    font-size: 2rem;
  }
  #showcase h2 {
    font-size: 1.4rem;
    margin-top: -0.7rem;
  }
  #showcase p {
    font-size: 1.1rem;
  }
  #showcase .container {
    margin-top: 70%;
  }
  
}


